html {
    font-size: 14px;
}

body {
    font-size: 16px;
    font-family: 'Muli', "Helvetica", Arial, sans-serif; 
    font-family: 'Lato', sans-serif;
    /* background: rgb(232,232,232); */
    background: rgb(255,255,255);
    height: 100%;
    /* overflow-y: scroll; */
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

ul, li {
    margin: 0;
    padding: 0;
}

.no-pad {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

input {
    border-radius: 3px;
    border: 1px solid #aaa;
}
input:focus {
    outline: none;
}

@media (max-width: 576px) {
    .sm-hide {
        display: none !important;
    }
}

/* Images */
.img-circle {
    border-radius: 50%;
}

.img-lg {
    width: 80px!important;
    height: 80px!important;
}
.img-md {
    width: 60px!important;
    height: 60px!important;
}
.img-xs {
    width: 32px!important;
    height: 32px!important;
}
.img-sm {
    width: 40px!important;
    height: 40px!important;
}
.img-small {
    width: 24px!important;
    height: 24px!important;
}


/* Left Side Bar */
/* lsbar.html */
.user-panel {
    position: relative;
    width: 100%;
    padding: 15px;
    overflow: hidden;
}

.lsmenu {
    background: rgba(25, 40, 60, 0.7);
}

.lsmenu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 60;
    height: 100%;
}

.lsmenu .nav>li {
    position: relative;
    display: block;
    width: 100%;
}

.lsmenu .nav>li>a {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .lsmenu {
        width: 56px;
    }

    .lsmenu .nav-primary > ul > li > a {
        text-align: center;
        height: 60px;
        overflow-y: hidden;
        border: none;
        display: inline-block;
    }

    .lsmenu .nav-primary > ul > li > a i {
        text-align: center;
        overflow: hidden;
        float: none;
        font-size: 24px;
        line-height: 50px;
        border: none !important;
        -webkit-transition: margin-top 0.2s;
        transition: margin-top 0.2s;
        color: #ECB32D;
    }

    .lsmenu .nav-primary > ul > li > a span {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
    } 
}

.sub-menu-container {
    position: absolute;
    border-radius: 5px;
    z-index: 98;
    box-shadow: 0 5px 10px rgba(0,0,0,.12);
    border: 1px solid rgba(0,0,0,.15);
    background: rgba(255,255,255,0.99);
    top: 56px;
    left: 15px;
    width: 280px;
    max-width: 280px;
}

.actions .dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.12);
    border: 1px solid rgba(0,0,0,.15);
    background: rgba(255,255,255,0.99);
    padding: 0.8em;

}
.actions .dropdown-menu > li {
    padding: 0.2em 0;
}

.sub-menu {
    padding: 8px 10px;

}

.sub-menu .menu-list li {
    border-bottom: 0;
    padding-top: 4px;
    padding: 5px;
}

.menu-list li i, 
.menu-list .media-body i {
    padding-right: 8px;
}

.menu-list li a {
    color: inherit;
    text-decoration: none;
}


/* Left browser */
.lsbrowser {
    background: rgba(232,232,232, 0.4);
    height: 100%;
    margin-left: 56px;
    padding: .9em 0;

}

.lsbrowser .search {
    padding: 0 .6em;
}

.search .search-box {
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 100%;
    height: 32px; 
    padding: .3em .6em;
}

.lsbrowser .category {
    padding: .4em 0;
}
.lsbrowser .category {
    padding-left: -0.6em;
    padding-right: -0.6em;
}


.lsbrowser .category .heading {
    color: rgb(77,57,75);
    color: rgb(242,242,242);
    text-transform: uppercase;
    padding: .6em .6em;
}

.category .item-list {
    color: #000;
}

.lsbrowser .item-list ul {
    width: 100%;
}

.lsbrowser .item {
    padding: 0.2em 0;
    font-size: 14px;
    font-weight: 600;
    color: rgb(77,57,75);
    color: #000;
}

.contact-list .contact p {
    font-size: 12px;
    font-weight: 400;
}

.category .item.active {
    background: rgba(69, 147, 120, 0.4);
    color: #333;
}

.lsbrowser .item a {
    color: #000 !important; 
    font-weight: 600;
} 

.lsbrowser .item:hover {
    background: rgba(69, 147, 120, 0.2); 
}

.lsbrowser .item .badge {
    padding-left: 0.9em;
    padding-right: 0.9em;
}


/* main content */
.main-panel {
    background: rgba(255,255,255,0.95)
}
.content {
    overflow: hidden;
}

.content > .row {
    height: 100%;
}

/* Navigation module */
.header-content {
    height: 60px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: .6em 1em;
    color: rgb(25,40,60);
}

.header-content input {
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 32px; 
}

.header-content .title {
    font-weight: 700;
}
.header-content .desc {
    color: #777;
    font-size: 14px;
}

.actions > div {
    padding: 0 .5em;
    display: inline-block;
}


/* IM */
.tribe-pad {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
   
}

.tribe-pad .phone.connected i {
    color: #f00;
}

.media-body > span {
    display: inline-block;
}
span.time {
    font-size: 12px;
    padding-left: 1em;
    color: #777;
}

.col-messages {
    padding: 1em;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction:column;
    min-width: 1px;
 
    height: calc(100vh - 60px);
}

.col-messages .message {
    border-radius: .3em;
    padding: 0.4em 0;
    width: 100%;
}

.message h5 {
    margin: 0;
}

.message p {
    margin: 0;
}

li.notiication {
    padding: 0.4em 0;
}
.notification .user {
    font-weight: 700;
}
/*
.message.me {
    background: rgb(220,249,247);
}
*/

.message .title {
    font-size: 15px;
    font-weight: 800; 
}
.message .text {
    font-size: 15px;
}

.at-mention {
    color: #00f;
}

.col-messages .message-list {
    overflow-y: scroll;
}

.col-messages .footer {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    padding: 15px;

}

.input-container .msg-input {
    padding: 5px 15px;
    border: 2px solid #756666;
    border-radius: 3px;
    min-height: 32px;
    max-height: 300px;
    height: 100%;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    margin-left: 33px

}

.input-container .btn-attach {
    position: absolute;
    bottom: 15;
    left: 15;
    min-height: 38px;
    border-top: 2px solid #756666;
    border-bottom: 2px solid #756666;
    border-left: 2px solid #756666;
    background: inherit;
}

.tribe-pad .body {
    overflow: hidden;
    display: flex;
    flex: 1;
}

.col-scribe {
    display: flex;
    flex-basis: 360px;
    flex-shrink: 0;
    min-width: 1px;
    border-left: 1px solid #e8e8e8;
    background: rgba(255,255,255,0.8)
}
@media (max-width: 768px) {
    .col-scribe {
        display: none !important;
    }
}

.scribe-container {
    display: flex;
    flex-direction:column;
    width: 100%;
}
.scribe-heading {
    padding: 1em .6em .6em;
    font-weight: 600;
    font-size: 18px;
    color: #444;
    border-bottom: 1px solid #e8e8e8;
}
.scribe-heading .link-close {
    padding-right: 0.8em;
    font-size: 22px;
    font-weight: 200;
}
.scribe-heading .link-close i {
    font-size: 22px;
    font-weight: 200;
    color: #ccc;
}

.scribe-body {
    padding: 0 0.6em;
}

.scribe-item {
    border-bottom: 1px solid #e8e8e8;
    padding: .6em 0;
}

.scribe-item-heading {
    cursor: pointer;
    font-size: 1.2em;
}
.scribe-item-heading .icon {
    color: #777 !important;
    padding-right: .6em;
}
.scribe-item-heading a {
    color: #777 !important;
}

.scribe-item-body p {
    font-size: 14px;
    margin:0;
}

.incall-widget {

}
.incall-widget button {
    width: 56px;
    height: 50px; 
    background: rgb(255,255,255);
    border: 1px solid #777;
    font-size: 20px;
}
.incall-widget button:hover {
    background: rgb(242,242,242);
}



/* dialer */
.lsbrowser .dialer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 56;
    padding-bottom: 45px;
    width: 100% ;
    background: rgb(242,242,242, 0.2);
}
@media (max-width: 576px) { 
    .lsbrowser .dialer {
         left: 0;
         width: 300px !important;
    }

}

.dialer .display {
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.0825em;
    margin: 0 -15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(242,242,242, 0.2);
    text-align: center;
}

.dialer > .row {
    padding: 5px 0;
}

.dialer button {
    width: 52px;
    height: 42px;
    background: rgba(25,40,60, 0.4);
    color: #fff;
    border: 1px solid rgb(25,40,60);
}

.dialer button:hover {
    background: rgba(25,40,60, 0.2);
}

.btn-dial {
    font-size: 20px;
    width:100% !important;
    background: #009688!important;
}

.btn-erase {
    font-size: 20px;
    background: #777 !important;
    width:100% !important;
}

/* dial launcher */
.lsbrowser .dial-launcher {
    position: absolute;
    bottom: 0;
    left: 50%;
}

@media (max-width: 576px) {
    .lsbrowser .dial-launcher {
         left: 44%;
    }

}

.dial-launcher button {
    background: rgba(77,57,75, 0.4);
    color: #fff;
    width: 48px;
    height: 32px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243,156,18,.25);
}


/* backdrop modal */
#bkModal {
    background: #fff;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1001;
    font-size: 18px;
    height: 100%;
    width: 100%;
    line-height: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -moz-transition: opacity 150ms cubic-bezier(.2,.8,.5,1) .1s,transform 150ms cubic-bezier(.2,.8,.5,1) .1s,top 0s linear 250ms;
    transition: opacity 150ms cubic-bezier(.2,.8,.5,1) .1s,transform 150ms cubic-bezier(.2,.8,.5,1) .1s,top 0s linear 250ms;
    -webkit-transition: opacity 150ms cubic-bezier(.2,.8,.5,1) .1s,-webkit-transform 150ms cubic-bezier(.2,.8,.5,1) .1s,top 0s linear 250ms;
}

.modal-bkdrop .actions {
    position: absolute;
    top: 3rem;
    right: 5em;
    width: 4rem;
    height: 4rem;
    z-index: 1;
    text-align: center;

}

.modal-bkdrop .btn-close {
    cursor: pointer;
    color: #717274;
    font-size: 2rem;
    line-height: 1.5rem;
    border-radius: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-unstyle {
    background: 0 0;
    border: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    outline: 0;
}

.modal-bkdrop .contents-container {
    background: #fff !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 15vh 2rem 2rem;
}

.modal-bkdrop .modal-bk-content .heading {
    font-size: 2em;
    font-weight: 300;
    color: #777;
}

.navbar .navbar-toggler {
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer;
}

.navbar .navbar-toggler.navbar-toggler-left {
    position: relative;
    left: 0;
    padding-left: 0;
}

.navbar .navbar-toggler:hover .navbar-toggler-bar.bar2 {
    width: 22px;
}

.navbar .button-dropdown .navbar-toggler-bar:nth-child(2) {
    width: 17px;
}

@media screen and (max-width: 767px) {
    .sidebar-collapse .navbar-collapse {
        position: fixed;
        display: block;
        top: 0;
        height: 100% !important;
        width: 300px;
        right: 0;
        z-index: 1032;
        visibility: visible;
        background-color: #999;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        max-height: none !important;
        -webkit-transform: translate3d(300px, 0, 0);
        -moz-transform: translate3d(300px, 0, 0);
        -o-transform: translate3d(300px, 0, 0);
        -ms-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .sidebar-collapse .navbar-collapse:before {
        background: #f96332;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#f96332 0%, #000 80%);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#f96332 0%, #000 80%);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#f96332 0%, #000 80%);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#f96332 0%, #000 80%);
        /* Standard syntax (must be last) */
        opacity: 0.76;
        filter: alpha(opacity=76);
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link {
        margin: 0 1rem;
        margin-top: 0.3125rem;
    }
    .sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link:not(.btn) {
        color: #FFFFFF;
    }
    .sidebar-collapse .navbar-collapse .dropdown-menu .dropdown-item {
        color: #FFFFFF;
    }
    .sidebar-collapse .navbar .navbar-nav {
        margin-top: 53px;
    }
    .sidebar-collapse .navbar .navbar-nav .nav-link {
        padding-top: 0.75rem;
        padding-bottom: .75rem;
    }
    .sidebar-collapse .navbar .navbar-nav.navbar-logo {
        top: 0;
        height: 53px;
    }
    .sidebar-collapse .navbar .dropdown.show .dropdown-menu,
    .sidebar-collapse .navbar .dropdown .dropdown-menu {
        background-color: transparent;
        border: 0;
        transition: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: auto;
        margin: 0 1rem;
        margin-bottom: 15px;
        padding-top: 0;
        height: 150px;
        overflow-y: scroll;
    }
    .sidebar-collapse .navbar .dropdown.show .dropdown-menu:before,
    .sidebar-collapse .navbar .dropdown .dropdown-menu:before {
        display: none;
    }
    .sidebar-collapse .navbar .dropdown .dropdown-item {
        padding-left: 2.5rem;
    }
    .sidebar-collapse .navbar .dropdown .dropdown-menu {
        display: none;
    }
    .sidebar-collapse .navbar .dropdown.show .dropdown-menu {
        display: block;
    }
    .sidebar-collapse .navbar .dropdown-menu .dropdown-item:focus,
    .sidebar-collapse .navbar .dropdown-menu .dropdown-item:hover {
        color: #FFFFFF;
    }
    .sidebar-collapse .navbar .navbar-translate {
        width: 100%;
        position: relative;
        display: flex;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .sidebar-collapse .navbar .navbar-toggler-bar {
        display: block;
        position: relative;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background: #FFFFFF;
    }
    .sidebar-collapse .navbar .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 7px;
    }
    .sidebar-collapse .navbar .navbar-toggler-bar.bar2 {
        width: 17px;
        transition: width .2s linear;
    }
    .sidebar-collapse .navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar {
        background: #888;
    }
    .sidebar-collapse .navbar .toggled .navbar-toggler-bar {
        width: 24px;
    }
    .sidebar-collapse .navbar .toggled .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 5px;
    }
    .sidebar-collapse .bar1,
    .sidebar-collapse .bar2,
    .sidebar-collapse .bar3 {
        outline: 1px solid #000;
    }
    .sidebar-collapse .bar1 {
        top: 0px;
        -webkit-animation: topbar-back 500ms linear 0s;
        -moz-animation: topbar-back 500ms linear 0s;
        animation: topbar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .sidebar-collapse .bar2 {
        opacity: 1;
    }
    .sidebar-collapse .bar3 {
        bottom: 0px;
        -webkit-animation: bottombar-back 500ms linear 0s;
        -moz-animation: bottombar-back 500ms linear 0s;
        animation: bottombar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .sidebar-collapse .toggled .bar1 {
        top: 6px;
        -webkit-animation: topbar-x 500ms linear 0s;
        -moz-animation: topbar-x 500ms linear 0s;
        animation: topbar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .sidebar-collapse .toggled .bar2 {
        opacity: 0;
    }
    .sidebar-collapse .toggled .bar3 {
        bottom: 6px;
        -webkit-animation: bottombar-x 500ms linear 0s;
        -moz-animation: bottombar-x 500ms linear 0s;
        animation: bottombar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    @keyframes topbar-x {
        0% {
            top: 0px;
            transform: rotate(0deg);
        }
        45% {
            top: 6px;
            transform: rotate(145deg);
        }
        75% {
            transform: rotate(130deg);
        }
        100% {
            transform: rotate(135deg);
        }
    }
    @-webkit-keyframes topbar-x {
        0% {
            top: 0px;
            -webkit-transform: rotate(0deg);
        }
        45% {
            top: 6px;
            -webkit-transform: rotate(145deg);
        }
        75% {
            -webkit-transform: rotate(130deg);
        }
        100% {
            -webkit-transform: rotate(135deg);
        }
    }
    @-moz-keyframes topbar-x {
        0% {
            top: 0px;
            -moz-transform: rotate(0deg);
        }
        45% {
            top: 6px;
            -moz-transform: rotate(145deg);
        }
        75% {
            -moz-transform: rotate(130deg);
        }
        100% {
            -moz-transform: rotate(135deg);
        }
    }
    @keyframes topbar-back {
        0% {
            top: 6px;
            transform: rotate(135deg);
        }
        45% {
            transform: rotate(-10deg);
        }
        75% {
            transform: rotate(5deg);
        }
        100% {
            top: 0px;
            transform: rotate(0);
        }
    }
    @-webkit-keyframes topbar-back {
        0% {
            top: 6px;
            -webkit-transform: rotate(135deg);
        }
        45% {
            -webkit-transform: rotate(-10deg);
        }
        75% {
            -webkit-transform: rotate(5deg);
        }
        100% {
            top: 0px;
            -webkit-transform: rotate(0);
        }
    }
    @-moz-keyframes topbar-back {
        0% {
            top: 6px;
            -moz-transform: rotate(135deg);
        }
        45% {
            -moz-transform: rotate(-10deg);
        }
        75% {
            -moz-transform: rotate(5deg);
        }
        100% {
            top: 0px;
            -moz-transform: rotate(0);
        }
    }
    @keyframes bottombar-x {
        0% {
            bottom: 0px;
            transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            transform: rotate(-145deg);
        }
        75% {
            transform: rotate(-130deg);
        }
        100% {
            transform: rotate(-135deg);
        }
    }
    @-webkit-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -webkit-transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            -webkit-transform: rotate(-145deg);
        }
        75% {
            -webkit-transform: rotate(-130deg);
        }
        100% {
            -webkit-transform: rotate(-135deg);
        }
    }
    @-moz-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -moz-transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            -moz-transform: rotate(-145deg);
        }
        75% {
            -moz-transform: rotate(-130deg);
        }
        100% {
            -moz-transform: rotate(-135deg);
        }
    }
    @keyframes bottombar-back {
        0% {
            bottom: 6px;
            transform: rotate(-135deg);
        }
        45% {
            transform: rotate(10deg);
        }
        75% {
            transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            transform: rotate(0);
        }
    }
    @-webkit-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -webkit-transform: rotate(-135deg);
        }
        45% {
            -webkit-transform: rotate(10deg);
        }
        75% {
            -webkit-transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            -webkit-transform: rotate(0);
        }
    }
    @-moz-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -moz-transform: rotate(-135deg);
        }
        45% {
            -moz-transform: rotate(10deg);
        }
        75% {
            -moz-transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            -moz-transform: rotate(0);
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .sidebar-collapse [class*="navbar-expand-"] .navbar-collapse {
        width: 300px;
    }
    .sidebar-collapse .wrapper {
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .sidebar-collapse #bodyClick {
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        top: 0;
        left: auto;
        right: 300px;
        content: "";
        z-index: 9999;
        overflow-x: hidden;
        background-color: transparent;
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .sidebar-collapse.menu-on-left .navbar-collapse {
        right: auto;
        left: 0;
        -webkit-transform: translate3d(-300px, 0, 0);
        -moz-transform: translate3d(-300px, 0, 0);
        -o-transform: translate3d(-300px, 0, 0);
        -ms-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
    }
    .nav-open .sidebar-collapse .navbar-collapse {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .nav-open .sidebar-collapse .wrapper {
        -webkit-transform: translate3d(-150px, 0, 0);
        -moz-transform: translate3d(-150px, 0, 0);
        -o-transform: translate3d(-150px, 0, 0);
        -ms-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }
    .nav-open .sidebar-collapse .navbar-translate {
        -webkit-transform: translate3d(-300px, 0, 0);
        -moz-transform: translate3d(-300px, 0, 0);
        -o-transform: translate3d(-300px, 0, 0);
        -ms-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
    }
    .nav-open .sidebar-collapse.menu-on-left .navbar-collapse {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .nav-open .sidebar-collapse.menu-on-left .navbar-translate {
        -webkit-transform: translate3d(300px, 0, 0);
        -moz-transform: translate3d(300px, 0, 0);
        -o-transform: translate3d(300px, 0, 0);
        -ms-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }
    .nav-open .sidebar-collapse.menu-on-left .wrapper {
        -webkit-transform: translate3d(150px, 0, 0);
        -moz-transform: translate3d(150px, 0, 0);
        -o-transform: translate3d(150px, 0, 0);
        -ms-transform: translate3d(150px, 0, 0);
        transform: translate3d(150px, 0, 0);
    }
    .nav-open .sidebar-collapse.menu-on-left #bodyClick {
        right: auto;
        left: 300px;
    }
    .bootstrap-collapse .navbar .navbar-collapse {
        background: none !important;
    }
    .bootstrap-collapse .navbar .navbar-nav {
        margin-top: 53px;
    }
    .bootstrap-collapse .navbar .navbar-nav .nav-link {
        padding-top: 0.75rem;
        padding-bottom: .75rem;
    }
    .bootstrap-collapse .navbar .navbar-nav.navbar-logo {
        top: 0;
        height: 53px;
    }
    .bootstrap-collapse .navbar .dropdown.show .dropdown-menu,
    .bootstrap-collapse .navbar .dropdown .dropdown-menu {
        background-color: transparent;
        border: 0;
        transition: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: auto;
        margin: 0 1rem;
        margin-bottom: 15px;
        padding-top: 0;
        height: 150px;
        overflow-y: scroll;
    }
    .bootstrap-collapse .navbar .dropdown.show .dropdown-menu:before,
    .bootstrap-collapse .navbar .dropdown .dropdown-menu:before {
        display: none;
    }
    .bootstrap-collapse .navbar .dropdown .dropdown-item {
        padding-left: 2.5rem;
    }
    .bootstrap-collapse .navbar .dropdown .dropdown-menu {
        display: none;
    }
    .bootstrap-collapse .navbar .dropdown.show .dropdown-menu {
        display: block;
    }
    .bootstrap-collapse .navbar .dropdown-menu .dropdown-item:focus,
    .bootstrap-collapse .navbar .dropdown-menu .dropdown-item:hover {
        color: #FFFFFF;
    }
    .bootstrap-collapse .navbar .navbar-translate {
        width: 100%;
        position: relative;
        display: flex;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .bootstrap-collapse .navbar .navbar-toggler-bar {
        display: block;
        position: relative;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background: #FFFFFF;
    }
    .bootstrap-collapse .navbar .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 7px;
    }
    .bootstrap-collapse .navbar .navbar-toggler-bar.bar2 {
        width: 17px;
        transition: width .2s linear;
    }
    .bootstrap-collapse .navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar {
        background: #888;
    }
    .bootstrap-collapse .navbar .toggled .navbar-toggler-bar {
        width: 24px;
    }
    .bootstrap-collapse .navbar .toggled .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 5px;
    }
    .bootstrap-collapse .bar1,
    .bootstrap-collapse .bar2,
    .bootstrap-collapse .bar3 {
        outline: 1px solid transparent;
    }
    .bootstrap-collapse .bar1 {
        top: 0px;
        -webkit-animation: topbar-back 500ms linear 0s;
        -moz-animation: topbar-back 500ms linear 0s;
        animation: topbar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .bootstrap-collapse .bar2 {
        opacity: 1;
    }
    .bootstrap-collapse .bar3 {
        bottom: 0px;
        -webkit-animation: bottombar-back 500ms linear 0s;
        -moz-animation: bottombar-back 500ms linear 0s;
        animation: bottombar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .bootstrap-collapse .toggled .bar1 {
        top: 6px;
        -webkit-animation: topbar-x 500ms linear 0s;
        -moz-animation: topbar-x 500ms linear 0s;
        animation: topbar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .bootstrap-collapse .toggled .bar2 {
        opacity: 0;
    }
    .bootstrap-collapse .toggled .bar3 {
        bottom: 6px;
        -webkit-animation: bottombar-x 500ms linear 0s;
        -moz-animation: bottombar-x 500ms linear 0s;
        animation: bottombar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    @keyframes topbar-x {
        0% {
            top: 0px;
            transform: rotate(0deg);
        }
        45% {
            top: 6px;
            transform: rotate(145deg);
        }
        75% {
            transform: rotate(130deg);
        }
        100% {
            transform: rotate(135deg);
        }
    }
    @-webkit-keyframes topbar-x {
        0% {
            top: 0px;
            -webkit-transform: rotate(0deg);
        }
        45% {
            top: 6px;
            -webkit-transform: rotate(145deg);
        }
        75% {
            -webkit-transform: rotate(130deg);
        }
        100% {
            -webkit-transform: rotate(135deg);
        }
    }
    @-moz-keyframes topbar-x {
        0% {
            top: 0px;
            -moz-transform: rotate(0deg);
        }
        45% {
            top: 6px;
            -moz-transform: rotate(145deg);
        }
        75% {
            -moz-transform: rotate(130deg);
        }
        100% {
            -moz-transform: rotate(135deg);
        }
    }
    @keyframes topbar-back {
        0% {
            top: 6px;
            transform: rotate(135deg);
        }
        45% {
            transform: rotate(-10deg);
        }
        75% {
            transform: rotate(5deg);
        }
        100% {
            top: 0px;
            transform: rotate(0);
        }
    }
    @-webkit-keyframes topbar-back {
        0% {
            top: 6px;
            -webkit-transform: rotate(135deg);
        }
        45% {
            -webkit-transform: rotate(-10deg);
        }
        75% {
            -webkit-transform: rotate(5deg);
        }
        100% {
            top: 0px;
            -webkit-transform: rotate(0);
        }
    }
    @-moz-keyframes topbar-back {
        0% {
            top: 6px;
            -moz-transform: rotate(135deg);
        }
        45% {
            -moz-transform: rotate(-10deg);
        }
        75% {
            -moz-transform: rotate(5deg);
        }
        100% {
            top: 0px;
            -moz-transform: rotate(0);
        }
    }
    @keyframes bottombar-x {
        0% {
            bottom: 0px;
            transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            transform: rotate(-145deg);
        }
        75% {
            transform: rotate(-130deg);
        }
        100% {
            transform: rotate(-135deg);
        }
    }
    @-webkit-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -webkit-transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            -webkit-transform: rotate(-145deg);
        }
        75% {
            -webkit-transform: rotate(-130deg);
        }
        100% {
            -webkit-transform: rotate(-135deg);
        }
    }
    @-moz-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -moz-transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            -moz-transform: rotate(-145deg);
        }
        75% {
            -moz-transform: rotate(-130deg);
        }
        100% {
            -moz-transform: rotate(-135deg);
        }
    }
    @keyframes bottombar-back {
        0% {
            bottom: 6px;
            transform: rotate(-135deg);
        }
        45% {
            transform: rotate(10deg);
        }
        75% {
            transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            transform: rotate(0);
        }
    }
    @-webkit-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -webkit-transform: rotate(-135deg);
        }
        45% {
            -webkit-transform: rotate(10deg);
        }
        75% {
            -webkit-transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            -webkit-transform: rotate(0);
        }
    }
    @-moz-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -moz-transform: rotate(-135deg);
        }
        45% {
            -moz-transform: rotate(10deg);
        }
        75% {
            -moz-transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            -moz-transform: rotate(0);
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .profile-photo .profile-photo-small {
        margin-left: -2px;
    }
    .button-dropdown {
        display: none;
    }
    .section-nucleo-icons .container .row>[class*="col-"]:first-child {
        text-align: center;
    }
    .footer .copyright {
        text-align: right;
    }
    .section-nucleo-icons .icons-container {
        margin-top: 65px;
    }
    .navbar-nav .nav-link i.fa,
    .navbar-nav .nav-link i.now-ui-icons {
        opacity: .5;
    }
    .section-images {
        height: 500px;
        max-height: 500px;
    }
    .section-images .hero-images-container {
        max-width: 500px;
    }
    .section-images .hero-images-container-1 {
        right: 10%;
        top: 68%;
        max-width: 269px;
    }
    .section-images .hero-images-container-2 {
        right: 5%;
        max-width: 135px;
        top: 93%;
    }
    .navbar .navbar-nav.navbar-logo {
        display: none;
    }
}

