<div class="lsbrowser d-none d-sm-block">
    <div class="search">
        <span><input type="text" class="search-box"></span> 
    </div>

    <div class="contacts d-none">
        <div class="category">
            <div class="body">
                <ul class="contact-list list-unstyled">
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="phbook">
      <div class="category teams viewable" data-mode="1">
        <div class="heading">
            <span>Teams</span>
            <span class="action float-right"><i class="fa fa-plus-circle"></i></span>
        </div>
        <div class="body item-list">
            <ul class="list-unstyled">
                {% for team in teams %}
                <li class="media item team px-3 py-2 {% if team == active_board %}active{% endif %}" data-id="{{team.id}}">
                    <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/team.jpg">
                    <div class="media-body">
                        <span><a class="btn-link" href="#">{{ team.name }}</a></span> 
                    </div>
                    <div class="media-right">
                        <span class="badge badge-pill badge-info text-white py-2"></span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
      </div>
      <div class="category agents viewable" data-mode="0">
        <div class="heading">
            <span>Agents</span>
            <span class="action float-right"><i class="fa fa-plus-circle"></i></span>
        </div>
        <div class="body item-list">
            <ul class="list-unstyled">
                {% for agent in agents %}
                {% if agent != request.user.agent %}
                <li class="media item agent px-3 py-2" data-id="{{ agent.id }}" data-user="{{agent.user.username}}">
                    {% if agent.photo %}
                    <img class="mr-3 rounded img-small" src="{{ agent.photo.url }}"> 
                    {% else %}
                    <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/avatar2.jpg">
                    {% endif %}
                    <div class="media-body">
                        <span><a class="btn-link fullname" href="#">{{ agent.user.get_full_name }}</a></span> 
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
      </div>

    {% comment %}
    <div class="category">
        <div class="heading">
            <span>Direct Conversations</span>
            <span class="action float-right"><i class="fa fa-plus-circle"></i></span>
        </div>
        <div class="body item-list">
            <ul class="list-unstyled">
                <li class="media item px-3 py-2">
                    <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/avatar2.jpg">
                    <div class="media-body">
                        <span>John Smith</span>
                    </div>
                </li>
                <li class="media item px-3 my-2">
                    <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/avatar3.png">
                    <div class="media-body">
                        <span>Maria Kerry</span>
                    </div>
                </li>
            </ul>

        </div>
    </div>

      <div class="category">
        <div class="heading">
            <span>Bots</span>
            <span class="action float-right"><i class="fa fa-plus-circle"></i></span>
        </div>
        <div class="body item-list">
            <ul class="list-unstyled">
                <li class="media item px-3 my-2 me">
                    <span class="mr-3 rounded img-small"><i class="fa fa-calendar"></i></span>
                    <div class="media-body">
                        <span>Schedular Bot</span>
                    </div>
                </li>
            </ul>

        </div>

      </div>
    {% endcomment %}


    </div>



    <div class="dialer d-none">
        <div class="display"></div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="1">1</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="2">2</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="3">3</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="4">4</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="5">5</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="6">6</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="7">7</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="8">8</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="9">9</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="*">*</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="0">0</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="#">#</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-6">
                <button class="btn btn-dial"><i class="fa fa-phone"></i></button> 
            </div>
            <div class="col-6 pl-0" style="padding-right: 25px; ">
                <button class="btn btn-erase" ><i class="fa fa-long-arrow-left"></i></button> 
            </div>
        </div>

    </div>

    <div class="dial-launcher">
        <button class="btn btn-launcher" data-toggle="buttons"><i class="fa fa-th-list"></i></button>

    </div>

</div>
