{% load wstags %}
<div class="lsbrowser d-none d-sm-block" id="directory" >
    <div class="search">
        <span><input type="text" class="search search-box"></span> 
    </div>

    <div class="contacts d-none">
        <div class="category">
            <div class="body">
                <ul class="contact-list list-unstyled">
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="phbook accordion py-2" id="phBook">
        <div class="category teams viewable" data-mode="1">
            <div class="heading">
                <span class="icon pr-2"><i class="fa fa-building-o"></i></span>
                <span class="title">
                    <a class="#" data-toggle="collapse" data-target="#teams" aria-expanded="true" aria-controls="teams">
                        Boards
                    </a>
                </span>
                <span class="action float-right"></span>
            </div>
            <div class="body item-list" id="teams" data-parent="#phBook">
                <ul class="list-unstyled">
                    {% for team in teams %}
                    <li class="media item team px-3 py-2 {% if team == active_board %}active{% endif %}" data-id="{{team.id}}">
                        <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/team64x64.png">
                        <div class="media-body">
                            <span class="title"><a class="btn-link" href="#">{{ team.name }}</a></span> 
                        </div>
                        <div class="media-right">
                            <span class="badge badge-pill badge-info text-white py-2"></span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="category agents viewable" data-mode="0">
            <div class="heading">
                <span class="icon pr-2"><i class="fa fa-users"></i></span>
                <span class="title">
                    <a class="#" data-toggle="collapse" data-target="#dirAgents" aria-expanded="true" aria-controls="dirAgents">
                        Agents
                    </a>
                </span>
                <span class="action float-right"></span>
            </div>
            <div class="body item-list collapse" id="dirAgents" data-parent="#phBook">
                <ul class="list list-unstyled">
                    {% for agent in agents %}
                    <li class="media item agent px-3 py-2 {% if agent == request.user.agent %} d-none{% endif %}" data-id="{{ agent.id }}" data-user="{{agent.user.username}}" data-extn="{{agent.tel_profile.extn}}">
                        {% if agent.photo %}
                        <img class="align-self-center mr-3 rounded img-xs" src="{{ agent.photo.url }}"> 
                        {% else %}
                        <img class="align-self-center mr-3 rounded img-xs" src="{{MEDIA_URL}}images/avatar2.jpg">
                        {% endif %}
                        <div class="media-body">
                            <span class="title"><a class="btn-link fullname" href="#">{{ agent.user.get_full_name }}</a></span> 
                            <span class="extn d-none">{{agent.tel_profile.extn}}</span>
                            <div class="status-container">
                                <span class="status-icon pr-1"><i class="{{ agent.user|statusicon }}"></i></span>
                                <span class="mb-0 status-text">{{ agent.user|statustext }}</span>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="actions">
                                <button class="btn btn-call {% if agent.is_tel_busy %}busy{% endif %}" href="#"><i class="fa fa-phone"></i></button>
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="category viewable" data-mode="2">
            <div class="heading">
                <span class="icon pr-2"><i class="fa fa-address-book-o"></i></span>
                <span class="title">
                    <a class="#" data-toggle="collapse" data-target="#contacts" aria-expanded="true" aria-controls="contacts">
                        Contacts
                    </a>
                </span>
            </div>
            <div class="body item-list collapse" id="contacts" data-parent="#phBook">
                <ul class="list list-unstyled">
                    {% for contact in contacts %}
                    <li class="media item px-3 py-2" data-extn="{{contact.mobile}}">
                        <div class="media-body">
                            <span class="title">{{contact.full_name}}</span>
                            <p class="mb-0">{{contact.mobile}}</p>
                        </div>
                        <div class="media-right">
                            <span class="actions">
                                {% if contact.mobile %}
                                <button class="btn btn-call" href="#"><i class="fa fa-phone"></i></button>
                                {% endif %}
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    {% comment %}
    <div class="category">
        <div class="heading">
            <span>Direct Conversations</span>
            <span class="action float-right"><i class="fa fa-plus-circle"></i></span>
        </div>
        <div class="body item-list">
            <ul class="list-unstyled">
                <li class="media item px-3 py-2">
                    <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/avatar2.jpg">
                    <div class="media-body">
                        <span>John Smith</span>
                    </div>
                </li>
                <li class="media item px-3 my-2">
                    <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/avatar3.png">
                    <div class="media-body">
                        <span>Maria Kerry</span>
                    </div>
                </li>
            </ul>

        </div>
    </div>

      <div class="category">
        <div class="heading">
            <span>Bots</span>
            <span class="action float-right"><i class="fa fa-plus-circle"></i></span>
        </div>
        <div class="body item-list">
            <ul class="list-unstyled">
                <li class="media item px-3 my-2 me">
                    <span class="mr-3 rounded img-small"><i class="fa fa-calendar"></i></span>
                    <div class="media-body">
                        <span>Schedular Bot</span>
                    </div>
                </li>
            </ul>

        </div>

      </div>
    {% endcomment %}


    </div>

                            {% comment %}
                            <div class="category">
                                <div class="heading" id="headPad">
                                    <span class="icon"><i class="fa fa-phone"></i></span>
                                    <span>
                                        <a class="btn-link number" data-toggle="collapse" data-target="#collapsePad" aria-expanded="true" aria-controls="collapsePad">Active Calls</a>
                                    </span>
                                </div>
                                <div id="collapsePad" class="collapse show" aria-labelledby="headPad" data-parent="#accordion">
                                    <div class="incall-widget py-3">
                                        <div class="row no-margin">
                                            <div class="col-sm">
                                                <button class="btn btn-hold" title="Hold Call" ><i class="fa fa-microphone-slash"></i></button>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-pause" ><img src="/media/images/callhold_64.png"></img></button>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-record" title="Start Recording" ><i class="fa fa-play"></i></button>
                                            </div>
                                        </div>
                                        <div class="row no-margin pt-3">
                                            <div class="col-sm">
                                                <button class="btn btn-transfer" title="Transfer Call"><i class="fa fa-exchange"></i></button>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-record" ><i class="fa fa-plus"></i></button>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-digits" ><i class="fa fa-th"></i></button>
                                            </div>
                                        </div>
                                        <div class="row no-margin pt-3">
                                            <div class="col-sm">
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-hangup bg-danger btn-rounded" ><i class="fa fa-phone"></i></button>
                                            </div>
                                            <div class="col-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endcomment %}



    <div class="dialer d-none" tabindex="0" id="dialer">
        <div class="display"></div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="1">1</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="2">2</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="3">3</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="4">4</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="5">5</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="6">6</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="7">7</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="8">8</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="9">9</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-4">
                <button class="btn btn-digit" data-value="*">*</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="0">0</button> 
            </div>
            <div class="col-4">
                <button class="btn btn-digit" data-value="#">#</button> 
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-6">
                <button class="btn btn-dial"><i class="fa fa-phone"></i></button> 
            </div>
            <div class="col-6 pl-0" style="padding-right: 25px; ">
                <button class="btn btn-erase" ><i class="fa fa-long-arrow-left"></i></button> 
            </div>
        </div>

    </div>

    <div class="dial-launcher">
        <button class="btn btn-launcher" data-toggle="buttons"><i class="fa fa-th-list"></i></button>

    </div>

</div>
