
        <aside class="lsmenu aside-md d-none d-sm-block" id="nav">
            <div class="menu">
                <div class="clearfix dk nav-user hidden-xs">
                    <div class="user-panel" data-account="{{me.tel_profile.user}}" data-pswd="{{me.tel_profile.pswd}}" data-extn="{{me.tel_profile.user}}"
                         data-name="{{request.user.get_full_name}}" data-domain="{{me.tel_profile.switch.domain}}" data-addr="{{me.tel_profile.switch.address}}">
                        <div class="pull-left image">
                                      <a href="#" class="btn-link ">
                                      {% if request.company.logo.url %}
                                      {% else %}
                                      <img src="{{MEDIA_URL}}/images/logo/k1.png" class="rounded-circle img-xs">
                                      {% endif %}
                                      </a>

                                        <i class="on md b-black"></i>
                        </div>
                    </div>
                </div>

                 
                 <div class="sub-menu-container user-panel-submenu d-none">
                     <div class="sub-menu" >
                         <div class="media">
                             <img src="{% if request.user.agent.photo %}{{request.user.agent.photo.url }}{% endif %}"  class="align-self-center mr-3 img-sm img-circle" />
                             <div class="media-body"> 
                                 <span class="title font-weight-bold mb-2">{{request.user.get_full_name}}</span>
                                 <div class="editable-container">
                                     <a class="editable-link status" data-value="{% if request.user.presence %}{{request.user.presence.status}}{% else %}1{% endif %}">
                                         {% if request.user.presence %}{{request.user.presence.get_status_display}}{% else %}Online{% endif %}
                                     </a>
                                     <div class="inline-editable d-none"> 
                                         <select class="status-choices"> 
                                             <option data-icon="fa fa-circle text-green" value="1">Online</option>
                                             <option data-icon="fa fa-circle text-red" value="2">Busy</option>
                                             <option data-icon="fa fa-minus-circle text-red" value="3">Do Not Disturb</option>
                                             <option data-icon="fa fa-minus-circle text-red" value="4">Away</option>
                                         </select>
                                     </div>
                                 </div>
                                 <div class="editable-container">
                                     <a class="editable-link status-text font-italic">{% if request.user.presence %} {{request.user.presence.text}} {% else %}Enter your status text {% endif %}</a>
                                     <div class="inline-editable d-none">
                                         <input class="input-status-text" placeholder="Enter your status text" {% if request.user.presence %}value="{{request.user.presence.text}}" {% endif %} />
                                         <a class="btn-link status-text" href="#"><i class="fa fa-paper-plane-o fa-rotate-30"></i></a>
                                     </div>
                                 </div>

                                 
                             </div>
                         </div>
                         <ul class="menu-list"  style="margin-top: 5px; ">
                            <li><i class="fa fa-sign-out text-info-300"></i><a href="#" class="btn-logout">Logout</a></li>
                         </ul>
                     </div>
                 </div>

                 


                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav nav-main" data-ride="collapse">
                        <li {% if 'boards' in request.META.PATH_INFO %} class="active"{% endif %}>
                             <a href="">
                                <i class="fa fa-sliders"></i>
                                <span class="font-bold">Channels</span>
                             </a>
                        </li>
                        {% if request.user.is_superuser or request.user.agent.role == '1' %}
                        <li{% if 'agents' in request.META.PATH_INFO %} class="active"{% endif %}>
                          <a href="" class="btn-menu-item agent-settings auto">
                            <span class="pull-right text-muted">
                            </span>
                            <i class="fa fa-users">
                            </i>
                            <span class="font-bold lm-h1">Agents</span>
                          </a>
                        </li>
                        {% endif %}
                        <li{% if 'settings' in request.META.PATH_INFO %} class="active"{% endif %}>
                            <a href="#" class="btn-menu-item settings auto">
                                <span class="pull-right text-muted"></span>
                                <i class="fa fa-cogs fa-2x lm-icon1"></i>
                                <span class="font-bold lm-h1">Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            {% comment %}
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
              <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
              </a>
              <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                <i class="i i-circleleft text-active lm-h1"></i>
                <i class="i i-circleright text lm-h1"></i>
              </a>

            </footer>
            {% endcomment %}
            </div>
        </aside>


