
        <aside class="lsmenu aside-md d-none d-sm-block" id="nav">
            <div class="menu">

                <div class="clearfix dk nav-user hidden-xs">
                    <div class="user-panel" data-account="{{me.tel_profile.user}}" data-pswd="{{me.tel_profile.pswd}}" data-extn="{{me.tel_profile.extn}}"
                         data-name="{{request.user.get_full_name}}" data-domain="{{me.tel_profile.switch.domain}}" data-addr="{{me.tel_profile.switch.address}}">
                                    <div class="pull-left image">
                                      <a href="#" class="btn-link ">
                                      {% if request.company.logo.url %}
                                      {% else %}
                                      <img src="{{MEDIA_URL}}/images/logo/k1.png" class="rounded-circle img-xs">
                                      {% endif %}
                                      </a>

                                        <i class="on md b-black"></i>
                                    </div>
                    </div>
                </div>

                 
                 <div class="sub-menu-container user-panel-submenu d-none">
                     <div class="sub-menu" >
                         <div class="media">
                             <img src="{% if request.user.agent.photo %}{{request.user.agent.photo.url }}{% endif %}"  class="mr-3 img-xs img-circle" />
                             <div class="media-body"> {{request.user.get_full_name}} </div>
                         </div>
                         <ul class="menu-list"  style="margin-top: 5px; ">
                            <li><i class="fa fa-user text-info-300"></i><a href="#" class="">Profile</a></li>
                            <li><i class="fa fa-sign-out text-info-300"></i><a href="{% url 'logout' %}" class="">Logout</a></li>
                         </ul>
                     </div>
                 </div>

                 


                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                  <ul class="nav nav-main" data-ride="collapse">
                    <li {% if 'boards' in request.META.PATH_INFO %} class="active"{% endif %}>
                         <a href="">
                            <i class="fa fa-sliders"></i>
                            <span class="font-bold">Calls</span>
                         </a>
                    </li>

                    {% comment %}
                    <li{% if 'agents' in request.META.PATH_INFO %} class="active"{% endif %}>
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                        </span>
                        <i class="fa fa-users">
                        </i>
                        <span class="font-bold lm-h1">Agents</span>
                      </a>
                    </li>
                    {% endcomment %}

                    <li{% if 'teams' in request.META.PATH_INFO %} class="active"{% endif %}>
                        <a href="" >
                        <span class="pull-right text-muted">
                        </span>
                        <i class="fa fa-clone">
                        </i>
                        <span class="font-bold lm-h1">Teams</span>
                      </a>
                     </li>
                    {% comment %}
                    <li{% if 'analytics' in request.META.PATH_INFO %} class="active"{% endif %}>
                        <a href="" >
                        <span class="pull-right text-muted">
                        </span>
                        <i class="fa fa-line-chart">
                        </i>
                        <span class="font-bold lm-h1">Reports</span>
                      </a>
                     </li>
                    {% endcomment %}

            <li{% if 'settings' in request.META.PATH_INFO %} class="active"{% endif %}>
                        <a href="#" class="auto">
                        <span class="pull-right text-muted">
                        </span>
                       <i class="fa fa-cogs fa-2x lm-icon1">
                        </i>
                        <span class="font-bold lm-h1">Settings</span>
                      </a>
                     </li>

        </ul>




            {% comment %}
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
              <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
              </a>
              <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                <i class="i i-circleleft text-active lm-h1"></i>
                <i class="i i-circleright text lm-h1"></i>
              </a>

            </footer>
            {% endcomment %}
        </aside>


