{% extends "base/root.html" %}

{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}plugins/bootstrap-select/dist/css/bootstrap-select.min.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}plugins/atjs/dist/css/jquery.atwho.min.css" />
{% endblock %}

{% block headjs %}
{% endblock %}


{% block content %}
<div class="row mx-0">
    <div class="tribe-pad" data-id="{{active_board.id}}" data-mode="0">
        <div class="header-content">
            <div class="clearfix">
                <div class="float-left sidebar-collapse">
                    <div class="navbar no-pad" style="display: inline-block;">
                        <button class="navbar-toggler navbar-toggler no-pad d-block d-sm-none" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" data-nav-image="{{MEDIA_URL}}images/pixabay/test1">
                           {% comment %}
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                        <p class="d-sm-none d-xl-none">Twitter</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank">
                                        <i class="fa fa-facebook-square"></i>
                                        <p class="d-sm-none d-xl-none">Facebook</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                        <p class="d-sm-none d-xl-none">Instagram</p>
                                    </a>
                                </li>
                            </ul>
                            {% endcomment %}
                        </div>
                    </div>
                    <span class="title">{{ active_board.name }}</span>
                    {% comment %}
                    <p class="desc">{{active_board.members.count}} members</p>
                    {% endcomment %}
                </div>
        
                <div class="actions float-right">
                    <div class="action-item" data-action="audio">
                        <a href="#" class="btn-link new-call" ><i class="fa fa-phone"></i></a>
                    </div>
                    <div class="action-item" data-action="video">
                        <a href="#" class="btn-link new-call"><i class="fa fa-video-camera"></i></a>
                    </div>
        
                    <div class="search-content sm-hide">
                        <input type="text">
                    </div>
                    <div class="action-item sm-hide">
                        <a href="#" class="btn-link info"><i class="fa fa-info-circle"></i></a>
                    </div>
                    <div class="sm-hide">
                        <span><i class="fa fa-cog"></i></span>
                    </div>

                    <div class="dropdown profile">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             {% if request.user.agent.photo %}
                             <img src="{{ request.user.agent.photo.url }}" class="img-xs img-circle">
                             {% else %}
                             <img src="{{MEDIA_URL}}images/avatar2.jpg" class="img-xs img-circle">
                             {% endif %}

                             <b class="caret"></b>
                         </a>
                         <ul class="dropdown-menu" style="margin-top: 1px;">
                             <li><a href="#" class="dropdown-link"><i class="fa fa-user-md pr-3"></i>Profile</a></li>
                             <li><a href="{% url 'logout' %}" class=""><i class="fa fa-sign-out pr-3"></i>Logout</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="col-messages">
                <ul class="message-list list-unstyled">
                    <li class="media message d-none">
                        <img class="mr-3 rounded img-sm" src="{% if request.user.agent.photo %} {{ request.user.agent.photo.url }}{% endif %}">
                        <div class="media-body">
                            <span><h5 class="title">{{ request.user.get_full_name }}</h5></span>
                            <span class="time"></span>               
                            <p class="text"></p>
                        </div> 
                    </li>
                    {% for message in active_board.messages.all %}
                    <li class="media message visible">
                        <img class="mr-3 rounded img-sm" src="{% if message.author.agent.photo %} {{ message.author.agent.photo.url }}{% endif %}">
                        <div class="media-body">
                             <span><h5 class="title">{{ message.author.get_full_name }}</h5></span>
                             <span class="time">{{ message.timestamp|date:"P" }}</span>
                             <p class="text">{{ message.content|safe }}</p>
                        </div>
                    </li>
                    {% endfor %}
            
                </ul>

                <div class="footer">
                    <div class="input-container">
                        <button class="btn btn-attach"><i class="fa fa-paperclip"></i></button>
                        <div class="msg-input" contenteditable="true" aria-label="Type your message">
                    
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-videos d-none">
               <div id="videos" class="d-none">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">You</h3>
                            </div>
                            <div class="panel-body" id="videoleft"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Remote UA</h3>
                            </div>
                            <div class="panel-body" id="videoright"></div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-scribe d-none d-md-block">
                <div class="scribe-container">
                    <div class="scribe-heading">
                        <span class="title">{{ active_board.name }}</span>
                        <span class="float-right"><a class="btn-link link-close align-top" href="#"><i class="fa fa-times"></i></a></span>
                    </div>    
                    <div class="scribe-body">
                        <div class="accordion">
                            <div class="scribe-item info">
                                <div class="scribe-item-heading" id="headingMem">
                                      <span class="icon"><i class="fa fa-info-circle"></i></span>
                                      <span>
                                          <a class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                             Information
                                          </a>
                                      </span>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingMem" data-parent="#accordion">
                                    <div class="scribe-item-body py-3">
                                    {{active_board.description}}
                                    </div>
                                </div>

                            </div> 
                            <div class="scribe-item members">
                                <div class="scribe-item-heading" id="headingMem">
                                      <span class="icon"><i class="fa fa-users"></i></span>
                                      <span>
                                          <a class="btn-link" data-toggle="collapse" data-target="#collapseMem" aria-expanded="true" aria-controls="collapseMem">
                                            Members
                                          </a>
                                      </span>

                                      <span class="badge badge-pill badge-info px-2 ml-3">{{active_board.members.count}}<span>
                                </div>
                                <div id="collapseMem" class="collapse" aria-labelledby="headingMem" data-parent="#accordion">
                                    <div class="scribe-item-body">
                                        <ul class="list-unstyled py-3">
                                            {% for agent in active_board.members.all %}
                                            <li class="media item agent px-0 py-2" data-id="{{ agent.id }}">
                                                {% if agent.photo %}
                                                <img class="mr-3 rounded img-small" src="{{ agent.photo.url }}">
                                                {% else %}
                                                <img class="mr-3 rounded img-small" src="{{MEDIA_URL}}images/avatar2.jpg">
                                                {% endif %}
                                                <div class="media-body">
                                                    <span><a class="btn-link" href="#">{{ agent.user.get_full_name }}</a></span>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>


                                    </div>
                                </div>
                            </div> 
                            {% comment %}
                            <div class="scribe-item">
                                <div class="scribe-item-heading" id="headLinks">
                                      <span class="icon"><i class="fa fa-plug"></i></span>
                                      <span>
                                          <a class="btn-link" data-toggle="collapse" data-target="#collapseLinks" aria-expanded="true" aria-controls="collapseLinks">
                                             Connectors
                                          </a>
                                      </span>
                                </div>
                                <div id="collapseLinks" class="collapse" aria-labelledby="headingLinks" data-parent="#accordion">
                                    <div class="scribe-item-body py-3">
                                        <p>Connect data sources to the Channel / Conversations.</p>
                                        
                                        <span><a href="#">Add Data Sources</a></span>
                                    </div>
                                </div>
                            </div> 
                            {% endcomment %}


                            <div class="scribe-item scribe-incall d-none">
                                <div class="scribe-item-heading" id="headPad">
                                    <div class="icon"><i class="fa fa-phone"></i></div>
                                    <div class="callid-container">
                                        <a class="btn-link number" data-toggle="collapse" data-target="#collapsePad" aria-expanded="true" aria-controls="collapsePad">
                                        </a>
                                    </div>
                                    <div class="transfer-input d-none">
                                        <div class="editable" contenteditable="true" aria-label="Type your message">

                                        </div>
                                        <div class=""><a class="btn-link transfer"><i class="fa fa-paper-plane-o fa-rotate-30"></i></a></div>
                                    </div>
                                    <div class="digits-input d-none">
                                        <span class="digits"></span>
                                    </div>
                                </div>
                                <div id="collapsePad" class="collapse show" aria-labelledby="headPad" data-parent="#accordion"> 
                                    <div class="scribe-item-body incall-widget py-3">
                                        <div class="features-container">
                                            <div class="row no-margin pt-3">
                                                <div class="col-sm">
                                                    <button class="btn btn-mute" title="Mute Call" disabled><i class="fa fa-microphone-slash"></i></button>
                                                </div>
                                                <div class="col-sm">
                                                    <button class="btn btn-hold" title="Hold Call">
                                                        <img src="{{MEDIA_URL}}images/callhold_64.png"></img>
                                                    </button>
                                                </div>
                                                <div class="col-sm">
                                                    <button class="btn btn-record" title="Start Recording" disabled>
                                                        <img src="{{MEDIA_URL}}images/record_blue.png"></img>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row no-margin pt-3">
                                                <div class="col-sm">
                                                    <button class="btn btn-transfer" title="Transfer Call"><img src="{{MEDIA_URL}}images/transfer.png" ></img></button>
                                                </div>
                                                <div class="col-sm">
                                                    <button class="btn btn-record" title="Add Record" disabled><i class="fa fa-plus"></i></button>
                                                </div>
                                                <div class="col-sm">
                                                    <button class="btn btn-notes" title="Add Notes" disabled><i class="fa fa-edit"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="digits-container d-none">
                                            <div class="row no-margin pt-3">
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="1">1</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="2">2</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="3">3</button>
                                                </div>
                                            </div>
                                            <div class="row no-margin pt-3">
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="4">4</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="5">5</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="6">6</button>
                                                </div>
                                            </div>
                                            <div class="row no-margin pt-3">
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="7">7</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="8">8</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="9">9</button>
                                                </div>
                                            </div>
                                            <div class="row no-margin pt-3">
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="*">*</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="0">0</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-dtmf btn-rounded small" data-value="#">#</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row no-margin pt-3">
                                            <div class="col-sm">
                                                <button class="btn btn-rounded btn-small"><i class="fa fa-bars"></i></button> 
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-hangup bg-danger btn-rounded"><i class="fa fa-phone"></i></button>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-digits btn-rounded btn-small"><i class="fa fa-th"></i></button> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           

                        </div>        

                    </div>
                </div>

            </div>
        </div>

        
        
    </div>
</div>


            <div class="containeri d-none" id="sipcall">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 container hide" id="phone">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                                <input class="form-control" type="text" placeholder="SIP URI to call (e.g., sip:1000@example.com)" autocomplete="off" id="peer" onkeypress="return checkEnter(this, event);"></input>
                            </div>
                            <button class="btn btn-success margin-bottom-sm" autocomplete="off" id="call">Call</button> <input autocomplete="off" id="dovideo" type="checkbox">Use Video</input>
                        </div>
                    </div>
                <div/>
                <div id="videos" class="hide">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">You</h3>
                            </div>
                            <div class="panel-body" id="videoleft"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Remote UA</h3>
                            </div>
                            <div class="panel-body" id="videoright"></div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}


{% block backdrop %}
{% include "base/bkdrop.html" %}
{% endblock %}


{% block footer %}
{% endblock %}


{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.0.3/adapter.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.6.0/js/md5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
<script src="{{MEDIA_URL}}js/uikit.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/moment/moment.min.js"></script>
<script src="{{MEDIA_URL}}plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="{{MEDIA_URL}}plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{MEDIA_URL}}plugins/atjs/dist/js/jquery.atwho.min.js"></script>

<script>
var csrf_token = "{{csrf_token}}";
var user = "{{request.user.username}}";
var mykey = "{{request.user.id}}";
</script>

<script src="{{MEDIA_URL}}plugins/janus/html/janus.js"></script>
<script src="{{MEDIA_URL}}js/janusintf.js"></script>

<script>

$(document).ready(function() {

    $('.lsbrowser .dialer').css('width', $('.lsbrowser').width());

    var msgListHt = $('.col-messages').height() - $('.col-messages .footer').outerHeight();
    $('.col-messages .message-list').css('height', msgListHt);   
    $('.col-messages .message-list').css('max-height', msgListHt);   
    $('.col-messages .message-list').slimScroll({
        height: msgListHt,
        scrollTo: msgListHt
    });

});
 
</script>
<script src="{{MEDIA_URL}}js/actions.js"></script>
<script src="{{MEDIA_URL}}js/settings.js"></script>
<script src="{{MEDIA_URL}}js/tribe.js"></script>
{% endblock %}

