<div class="settings-container">
    <div class="heading">
        <span class="icon pr-2"><i class="fa fa-cogs"></i></span>
        <span class="title">System Settings</span>        
    </div>
    <div class="body nested-settings">
        <div class="item-list settings-list">
            {% if request.user.is_superuser or request.user.agent.role == '1' %}
            <div class="item settings-item" data-target="pbx-settings">
                <div class="title">PBX Settings</div>
                <p>Manage Soft Swicth, Telephone and Conference profiles</p>
            </div>
            {% endif %}
            <div class="item settings-item" data-target="profile-settings">
                <div class="title">Update Profile</div>
                <p>Update user profile</p>
            </div>
            <div class="item settings-item" data-target="skin-settings">
                <div class="title">Appeareance</div>
                <p>Change the Background skin</p>
            </div>
        </div> 

        <div class="settings d-none" id="profile-settings">
            <div class="item-list">
                <div class="title">
                    <span class="icon pr-2"><a class="btn-back" href="#"><i class="fa fa-arrow-left"></i></a></span>
                    <span>Profile</span>
                </div>
                <div class="tp-form-container py-3">
                    <form id="updateAgentForm">                  
                        <div class="row">
                        <div class="col-sm-8">
                            <div class="editable-container " data-field="fname">
                                <div class="editable-info"> 
                                    <span class="badge badge-secondary mr-4 p-2">First Name</span>
                                    <span><a class="editable-link">{{request.user.first_name}}</a></span>
                                </div>
                                <div class="form-group inline-editable d-none m-0">
                                    <input type="text" class="form-control field p-0" name="fname" value="{{request.user.first_name}}">
                                    <div class="inline-actions"> 
                                        <span class="text-success"><a href="#" class="link-tick"><i class="fa fa-check-square-o"></i></a></span>
                                        <span class="text-grey"><a href="#" class="link-close"><i class="fa fa-window-close-o"></i></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-container " data-field="lname">
                                <div class="editable-info"> 
                                    <span class="badge badge-secondary mr-4 p-2">Last Name</span>
                                    <span><a class="editable-link">{{request.user.last_name}}</a></span>
                                </div>
                                <div class="form-group inline-editable d-none m-0">
                                    <input type="text" class="form-control field p-0" name="lname" value="{{request.user.last_name}}">
                                    <div class="inline-actions"> 
                                        <span class="text-success"><a href="#" class="link-tick"><i class="fa fa-check-square-o"></i></a></span>
                                        <span class="text-grey"><a href="#" class="link-close"><i class="fa fa-window-close-o"></i></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-container " data-field="uname">
                                <div class="editable-info"> 
                                    <span class="badge badge-secondary mr-4 p-2">Username</span>
                                </div>
                                <span>{{request.user.username}}</span>
                            </div>
                            <div class="editable-container" data-field="pswd">
                                <div class="editable-info"> 
                                    <span class="badge badge-secondary mr-4 p-2">Password</span>
                                    <span><a class="editable-link">********</a></span>
                                </div>
                                <div class="form-group inline-editable d-none m-0">
                                    <input type="password" class="form-control field p-0" name="password" placeholder="New password ??">
                                    <div class="inline-actions"> 
                                        <span class="text-success"><a href="#" class="link-tick"><i class="fa fa-check-square-o"></i></a></span>
                                        <span class="text-grey"><a href="#" class="link-close"><i class="fa fa-window-close-o"></i></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-container" data-field="title">
                                <div class="editable-info"> 
                                    <span class="badge badge-secondary mr-4 p-2">Title</span>
                                    <span><a class="editable-link">{{request.user.agent.title}}</a></span>
                                </div>
                                <div class="form-group inline-editable d-none m-0">
                                    <input type="text" class="form-control field p-0" name="fname" value="{{request.user.agent.title}}">
                                    <div class="inline-actions"> 
                                        <span class="text-success"><a href="#" class="link-tick"><i class="fa fa-check-square-o"></i></a></span>
                                        <span class="text-grey"><a href="#" class="link-close"><i class="fa fa-window-close-o"></i></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-container">
                                <div class="editable-info"> 
                                    <span class="badge badge-secondary mr-4 p-2">Extension</span>
                                </div>
                                <span>{{request.user.agent.tel_profile}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="photo-container" style="position: absolute; left: 0; top: 10%; margin: auto; height: 160px; width: 160px;">
                                <a href="#" class="edit-link" onclick="triggerImageChange();">
                                    <div class="edit-container">
                                        <span><i class="fa fa-camera"></i> <p>Change your profile Photo</p></span>
                                    </div>
                                </a>
                                <input type="file" id="fileInput" name="photo" />
                                {% if user.agent.photo %}
                                <img src="{{ user.agent.photo.url }}" id="editimg">
                                {% else %}
                                <img src="{{MEDIA_URL}}images/avatar2.jpg" id="editimg">
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
              
            </div>

        </div> 
     
        <div class="settings d-none" id="skin-settings">
             
            <div class="bk-tiles item-list">
                <div class="title mb-3">
                    <span class="icon pr-2"><a class="btn-back" href="#"><i class="fa fa-arrow-left"></i></a></span>
                    <span>Skin Settings</span>
                </div>
                <div class="bk-tile item colors pr-3 " data-target="colors">
                    <div class="thumbnail"></div>
                    <div class="title">Colours</div>
                </div>
                <div class="bk-tile item photos pl-3" data-target="photos">
                    <div class="thumbnail"></div>
                    <div class="title">Photos</div>
                </div>
            </div>
            <div class="skins d-none" id="photos">
                <div class="item-list">
                    <div class="title mb-3">
                        <span class="icon pr-2"><a class="btn-back"><i class="fa fa-arrow-left"></a></i></span>
                        <span>Change Skin</span>
                    </div>
                    <div class="type-tiles">
                        {% for bkimage in bkimages %}
                        <div class="type-tile" >
                            <div class="snap" style="background-image:url('/media/images/pixabay/{{bkimage}}')" data-value="/media/images/pixabay/{{bkimage}}"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <!-- PBX Settings Start -->
        <div class="settings d-none" id="pbx-settings">
            <div class="item-list">
                <div class="title mb-3">
                    <span class="icon pr-2"><a class="btn-back" href="#"><i class="fa fa-arrow-left"></i></a></span>
                    <span>PBX Settings</span>
                </div>
                <div class="item settings-item" data-target="switch-profiles">
                    <div class="title">Switch Profiles</div>
                    <p>Create or manage Soft Switch Profiles.</p>
                </div>
                <div class="item settings-item" data-target="tel-profiles">
                    <div class="title">Telephone Profiles</div>
                    <p>Create or manage Telephone profiles.</p>
                </div>
            </div>
            <!-- Switch Profiles -->
            <div class="d-none" id="switch-profiles">
                <div class="item-list">
                    <div class="title">
                        <span class="icon pr-2"><a class="btn-back" href="#"><i class="fa fa-arrow-left"></i></a></span>
                         <span>Switch Profiles</span>
                    </div>
                    {% for switch in switches %} 
                    <div class="switch record row py-3" data-target="">
                        <div class="col-sm-4">{{switch.name}}</div>
                        <div class="col-sm-3">{{switch.domain}}</div>
                        <div class="col-sm-3">{{switch.address}}</div>
                        <div class="col-sm-2">
                            <span><i class="fa fa-trash text-danger pr-4"></i></span>
                            <span><i class="fa fa-edit text-info"></i></span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="item link-new py-3" data-target="switchNew">
                        <span><i class="fa fa-plus-circle pr-3"></i></span>
                        <span class="text-info">Add New Switch</span> 
                    </div>
                </div>
                <div class="d-none" id="switchNew">
                    {% include "vox/switch_new.html" %}
                </div>
                
            </div>
            <!-- Switch Profiles End -->
            <!-- Tel Profiles Start -->
            <div class="d-none" id="tel-profiles">
                <div class="item-list">   
                    <div class="title">
                        <span class="icon pr-2"><a class="btn-back" href="#"><i class="fa fa-arrow-left"></i></a></span>
                         <span>Telephone Profiles</span>
                    </div> 
                    {% for tel in tel_profiles %}
                    <div class="tel-profile record row py-3" >
                        <div class="font-weight-bold col-sm-2">{{tel.extn}}</div>
                        <div class="col-sm-3">{{tel.user}}</div>
                        <div class="col-sm-4">{{tel.switch}}</div>
                        <div class="font-weight-bold col-sm-3">
                            <span><i class="fa fa-trash text-danger pr-4"></i></span>
                            <span><i class="fa fa-edit text-info"></i></span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="item link-new py-3" data-target="tel-profile-new">
                        <span><i class="fa fa-plus-circle pr-3"></i></span>
                        <span class="text-info">Add New Telephone profile</span>
                    </div>
                </div>
                <div class="d-none" id="tel-profile-new">
                    {% include "vox/tel_profile_new.html" %}
                </div>
 
                


            </div>
            <!-- Tel Profiles Start -->

                 

        </div>
        <!-- PBX Settings End -->


    </div>


</div>
