<div class="agent-settings-container">
    <div class="heading">
        <span class="icon pr-2"><i class="fa fa-cogs"></i></span>
        <span class="title">User Provisioning</span>
    </div>
    <div class="body nested-settings">
        <div class="item-list settings-list">
            <div class="item settings-item" data-target="agentProfiles">
                <div class="title">Agent Profiles</div>
                <p>Create and Manage agent profiles</p>
            </div>
            <div class="item settings-item" data-target="teamProfiles">
                <div class="title">Team Profiles</div>
                <p>Create and Manage team profiles</p>
            </div>
        </div>
        <!-- Agent profiles Start -->
        <div class="d-none" id="agentProfiles">
            <div class="item-list">
                <div class="title">
                    <span class="icon pr-2"><a class="btn-back" href="#"><i class="fa fa-arrow-left"></i></a></span>
                    <span class="px-3">Agent Profiles</span>
                </div>
                {% for agent in agents %}
                <div class="record row py-3" data-target="" data-id="{{agent.id}}">
                    <div class="col-sm-4">{{agent.user.get_full_name}}</div>
                    <div class="col-sm-3">{{agent.title}}</div>
                    <div class="col-sm-3">{{agent.tel_profile}}</div>
                    <div class="col-sm-2">
                        <span><i class="fa fa-trash text-danger pr-4"></i></span>
                        <span><i class="fa fa-edit text-info"></i></span>
                    </div> 
                </div> 
                {% endfor %}
                <div class="item link-new py-3" data-target="agentNew">
                    <span><i class="fa fa-plus-circle pr-3"></i></span>
                    <span class="text-info">Add New Agent</span>
                </div>

            </div>
            <div class="d-none" id="agentNew">
                {% include "accounts/agent_new.html" %}
            </div>
        </div>
        <!-- Agent profiles end -->
        <!-- Team profiles Start -->
        <div class="d-none" id="teamProfiles">
            <div class="item-list">
                <div class="title">
                    <span class="icon pr-2"><a class="btn-back" href="#"><i class="fa fa-arrow-left"></i></a></span>
                    <span class="px-3">Team Profiles</span>
                </div>
                {% for team in teams %}
                <div class="record row py-3" data-target="" data-id="{{team.id}}">
                    <div class="col-sm-4">{{team.name}}</div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <span><a class="btn-delete"><i class="fa fa-trash text-danger pr-4"></i></a></span>
                        <span><a class="btn-edit"><i class="fa fa-edit text-info"></i></a></span>
                    </div>
                </div>
                {% endfor %}
                <div class="item link-new py-3" data-target="teamNew">
                    <span><i class="fa fa-plus-circle pr-3"></i></span>
                    <span class="text-info">Add New Team</span>
                </div>

            </div>
            <div class="d-none" id="teamNew">
                {% include "accounts/team_new.html" %}
            </div>
        </div>
        <!-- Agent profiles end -->


    </div>
</div>
